{% extends '::base.html.twig' %}

{% block body -%}
<div class="row">
    <div class="twelvecol column ">
    <h1>Solicitação enviada!</h1>
    <p>Sua solicitação foi enviada ao professor e em breve ele responderá!</p>
    <p>Acompanhe o status da sua solicitação em sua conta.</p>
</div>
</div>

    
{% endblock %}
