{% extends '::base.html.twig' %}

{% block featuredcontent %}
<div class="substrate">
    <img src="/academy/images/bgs/site_bg.jpg" class="fullwidth" alt="" />         
</div>
<div class="parallax-slider themex-slider">
    <div class="substrate">
        <img src="/academy/images/bgs/site_bg.jpg" class="fullwidth" alt="" /> </div>
        <ul>
            <li>
                <div class="row">
                    <div class="fivecol column">
                        <h1>Learning Online Becomes Easier</h1>
                        <p>Academy is a perfect theme for sharing and selling your knowledge online. It&#8217;s not just a theme, but learning management system that provides great features to make learning and teaching online easier for everyone.</p>
                        <a href="http://themextemplates.com/demo/academy/register" target="_self" class="button large primary">
                            <img class="alignnone" alt="" src="/academy/pics/image_4.png" />Get Started
                        </a>
                    </div>
                    <div class="sevencol column last">
                        <img class="alignnone" alt="" src="/academy/pics/slide_1.png" />
                    </div>
                    <div class="clear"></div>
                </div>
            </li>
            <li>
                <div class="row"><div class="fivecol column">
                    <br />
                    <h1>Start Teaching With Academy</h1>
                    <p>Vestibulum ipsum diam, mattis in dictum et, vulputate nec libero. Nunc feugiat ultrices convallis. Nulla non nisi tellus, nec egestas est. Sed congue semper nisl et pellentesque. In rhoncus orci eu diam rutrum.</p>
                    <a href="http://themextemplates.com/demo/academy/register" target="_self" class="button large primary">
                        <img class="alignnone" alt="" src="/academy/pics/image_4.png" />Get Started</a>
                    </div>
                    <div class="sevencol column last"><img src="/academy/pics/slide_2.png" class="alignnone" /></div><div class="clear"></div>
                </div>
            </li>
            <li>
                <div class="row">
                <div class="fivecol column">
                    <br />
                    <h1>Share Your Knowledge Online</h1>
                    <p>Maecenas semper accumsan turpis, suscipit pharetra tortor dignissim sed. Morbi at justo nisl. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Duis rutrum nisl, imperdiet.</p>
                    <a href="http://themextemplates.com/demo/academy/register" target="_self" class="button large primary">
                        <img class="alignnone" alt="" src="/academy/pics/image_4.png" />Get Started
                    </a>
                </div>
                <div class="sevencol column last">
                <img src="/academy/pics/slide_3.png" class="alignnone" />
                </div>
                <div class="clear"></div>
            </div>
        </li>
    </ul>
    <div class="arrow arrow-left"></div>
    <div class="arrow arrow-right"></div>
    <input type="hidden" class="slider-pause" value="0" />
    <input type="hidden" class="slider-speed" value="1000" />
    <input type="hidden" class="slider-effect" value="slide" /> 
</div>
{% endblock %}
{% block body %}
<div class="row">
                <div class="clear"></div>
                <div class="fourcol column">
                    <h3><img class="alignnone" alt="" src="/academy/pics/image_1.jpg" />Aprenda tudo Online</h3>
                    <p>Todos os tipos de aula particular você encontrará aqui: Matemática, Português, Programação, Violão etc...
                </div>
                <div class="fourcol column">
                    <h3><img class="alignnone" alt="" src="/academy/pics/image_2.jpg" />Talk to Our Experts</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus magna mauris, sagittis tempus varius vel, eleifend ut metus. Pellentesque sapien tellus, accumsan.
                </div>
                <div class="fourcol column last">
                    <h3>
                        <img class="alignnone" alt="" src="/academy/pics/image_3.jpg" />Communicate with People
                    </h3>
                    <p>Nullam viverra, magna vitae mollis venenatis, leo mi dignissim quam, et lacinia purus diam nec sapien. Cras aliquet, purus non rhoncus aliquet, dapibus.
                </div>
                <div class="clear"></div>
                <p>&nbsp;</p>
                <h1>Professores Populares</h1>
                <div class="courses-listing clearfix">
                    {% for teacher in teachers %}
                    <div class="column threecol {% if loop.index is divisibleby(4) %}last{% endif %} ">
                        <div class="course-preview free-course">
                            <div class="course-image">
                                <a href="{{ path('aula_frontend_view_teacher', { 'id': teacher.id })}}"><img width="420" height="420" src="{{ asset(teacher.pic) }}" class="attachment-normal wp-post-image" alt="image_45" /></a>
                                <div class="course-price product-price">
                                    <div class="price-text">R$ {{ teacher.price}},00</div>
                                    <div class="corner-wrap">
                                        <div class="corner"></div>
                                        <div class="corner-background"></div>
                                    </div>          
                                </div>
                            </div>
                            <div class="course-meta">
                                <header class="course-header">
                                    <h5 class="nomargin"><a href="http://projetofinal.dev/?course=basic-cooking-techniques"></a></h5>
                                    <a href="http://projetofinal.dev/?author=2" class="author">{{ teacher.name|capitalize }}</a>
                                </header>
                                <footer class="course-footer clearfix">
                                    <div class="course-users left">
                                    13          </div>
                                    <div class="course-rating rating-form">
                                        <div data-score="4" data-readonly="true"></div>
                                    </div>
                                </footer>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                
                    
                </div>
                <div class="clear"></div>
            <p>&nbsp;<br />
                <div class="sixcol column">
                    <h1>Top Experts</h1>
                    <div class="experts">
                        <div class="expert-preview">
                            <div class="expert-meta">
                                <div class="expert-image bordered-image">
                                    <a href="http://projetofinal.dev/?author=2"><img src="/academy/images/avatar.png" class="avatar" width="96" alt="" /></a>
                                </div>
                                <div class="user-links"></div>  
                            </div>
                            <div class="expert-text">
                                <h4 class="nomargin">
                                    <a href="http://projetofinal.dev/?author=2">
                                    Steven Granger          </a>
                                </h4>
                                <span class="expert-signature"></span>
                                </p>    
                            </div>    
                        </div>

                        <div class="expert-preview">
                            <div class="expert-meta">
                                <div class="expert-image bordered-image">
                                    <a href="http://projetofinal.dev/?author=4"><img src="/academy/images/avatar.png" class="avatar" width="96" alt="" /></a>
                                </div>
                                <div class="user-links"></div>
                            </div>
                            <div class="expert-text">
                                <h4 class="nomargin">
                                    <a href="http://projetofinal.dev/?author=4">
                                        Mark Blackwood          </a>
                                </h4>
                                <span class="expert-signature"></span>
                                </p>    
                            </div>
                        </div>
                    </div>
                </div>
                <div class="sixcol column last"><br />
                    <h1>Testimonials</h1>
                    <div class="testimonials">
                        <article class="testimonial">
                            <div class="testimonial-image">
                                <div class="bubble-image">
                                    <img width="264" height="264" src="/academy/pics/avatar_27.jpg" class="attachment-small wp-post-image" alt="avatar_27" />          <div class="substrate"><img src="/academy/images/bgs/testimonial_bg.png" alt="" /></div>
                                </div>
                            </div>
                            <div class="testimonial-text">
                                    <p>Pellentesque pulvinar sodales quam a placerat. Vivamus quis vitae consectetur ligula. Ut bibendum eleifend quam eget fermentum. Nulla facilisi. Augue aliquam augue vel odio faucibus luctus!</p>
                                <h6 class="author nomargin">Jessica White</h6>
                            </div>
                        </article>
                        <article class="testimonial">
                            <div class="testimonial-image">
                                <div class="bubble-image">
                                    <img width="265" height="265" src="/academy/pics/avatar_121.jpg" class="attachment-small wp-post-image" alt="avatar_12" />         <div class="substrate"><img src="/academy/images/bgs/testimonial_bg.png" alt="" /></div>
                                </div>
                            </div>
                            <div class="testimonial-text">
                                <p>Maecenas sed metus sem, ac varius ante. Nullam non mi tempor nisl varius consectetur vel in ipsum. Vestibulum sem diam, vehicula sit amet luctus adipiscing, viverra in sem. Proin molestie.</p>
                                <h6 class="author nomargin">John Dawson</h6>
                            </div>
                        </article>
                        <article class="testimonial">
                            <div class="testimonial-image">
                                <div class="bubble-image">
                                    <img width="270" height="270" src="/academy/pics/avatar_11.jpg" class="attachment-small wp-post-image" alt="avatar_11" />          <div class="substrate">
                                    <img src="/academy/images/bgs/testimonial_bg.png" alt="" /></div>
                                </div>
                            </div>
                            <div class="testimonial-text">
                                <p>Donec convallis, mauris quis tempor pulvinar, lorem neque rhoncus nisl, at hendrerit quam leo volutpat est. Quisque fringilla, nulla vitae vehicula fermentum, nibh dolor tristique, scelerisque.</p>
                                <h6 class="author nomargin">Mary Springs</h6>
                            </div>
                        </article>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
{% endblock %}